
<!DOCTYPE html>
<html translate="no" lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">  
  <link rel="icon" type="image/png" href="img/favicon-16x16.png"/>
  <link rel="icon" type="image/png" href="img/favicon-16x16.png" sizes="16x16" />
  <title>ExoLingo</title>
	<script src="js/jquery-3.3.1.min.js"></script>-->
  <link href=""
  
</head>

<body id="page-top" translate="no">
<h1>Test</h1>
   <img src="img/banniereHz.png" width="30%">
   <img src="img/favicon-16x16.png" width="30%">



</body>

</html>
