@layout('layouts/master')
@section('content')

<div class="container">
  <form action="/testImage" method="POST" enctype="multipart/form-data">
    {{ csrfField() }}
      <input type="file" name="cover_image" id="">
      <button>send</button>
  </form>
</div>
@endsection