<div class="field">
    <!--<label for="" class="label">Identifiant ou adresse email</label>-->
    <div class="control">
      <input type="text" name="name" placeholder="Nom" class="input" value="{{name || ''}}" required>
      
    </div>
    @if(flashMessages.has('errors.name'))
    <p class="notification is-danger">
      <span class="delete" onclick="$(this).closest('.notification').fadeOut(300)"></span>
      {{ flashMessages.get('errors.name') || '' }}
    </p>
    @end
</div>
