:root {

/*--mycolor1: #322F40;
--mycolor1light: #524F60;
--fond : #39b0f2;
--mycolor2: #08A7AA;
--mycolor2bis: #078386;
--mycolor3: #ffdd4d;
--mycolor4: white;*/



/*--mycolor1: #4c6ca9;
--mycolor1light: #524F60;
--fond: #eaeced;
--mycolor2: #f3f3f3;
--mycolor2bis: #b9bed2;
--mycolor3: #becefc;
--mycolor4: white;*/
--shadow: #00000080;
--lightshadow: #00000020;
--black:#4a4848;
--mycolor1: white;
--mycolor1light: #ffffff;
--fond: #f4f4f4;
--mycolor2: #34ac95;
--mycolor2bis: #3ee6a4;
--mycolor2fonce: #2f8675;
--mycolor3: white;
--mycolor4: #556370;
--mydeckcolor:#aa28f5;
--mycolor5:#85abff;
--rouge:#f66c6c;
--blue: #007bff;
--indigo: #6610f2;
--purple: #6f42c1;
--pink: #e83e8c;
--red: #dc3545;
--orange: #fd7e14;
--yellow: #ffc107;
--green: #28a745;
--teal: #1abc9c;
--cyan: #17a2b8;
--white: #fff;
--gray: #6c757d;
--gray-dark: #343a40;
--primary: #1abc9c;
--secondary: #2c3e50;
--success: #28a745;
--info: #17a2b8;
--warning: #ffc107;
--danger: #dc3545;
--light: #f8f9fa;
--dark: #343a40;
}
html, body{background: var(--fond);}
@font-face {
    font-family: "roboto";
    src: url('../fonts/roboto.ttf');
}
@font-face {
    font-family: "exolingoTitre";
    src: url('../fonts/GROBOLD.ttf');
}
@font-face {
    font-family: "caviar";
    src: url('../fonts/caviar.ttf');
}
@font-face {
    font-family: "ecolier";
    src: url('../fonts/ecolier.ttf');
}
@font-face {
    font-family: "forgetica";
    src: url('../fonts/SansForgetica-Regular.otf');
}
@font-face {
    font-family: "OpenDyslexic";
    src: url('../fonts/OpenDyslexic.otf');
}
@-webkit-keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .5;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}

@keyframes ripple {
  0% {
    width: 0;
    height: 0;
    opacity: .5;
  }
  100% {
    width: 150px;
    height: 150px;
    opacity: 0;
  }
}
.ripple:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
  background-color: currentColor;
  visibility: hidden;
  z-index: 2;
}
.ripple:not(:active):before {
  -webkit-animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
          animation: ripple 0.4s cubic-bezier(0, 0, 0.2, 1);
  -webkit-transition: visibility .4s step-end;
  transition: visibility .4s step-end;
}
.ripple:active:before {
  visibility: visible;
}
body{margin:0;padding:0;min-height:100vh;}
.jumbotron
{background-color:var(--mycolor1);
 color:var(--mycolor4);
 border-bottom: 8px solid var(--mycolor3);
}
.border_jaune{border-bottom: 8px solid var(--mycolor3);}
.fond{background-color:var(--fond);}

input{color:black;}
.titre1{color:var(--mycolor2);}
.btn-primary{background-color:var(--mycolor2);}
.btn-primary:hover{background-color:var(--mycolor2bis);}

input:invalid{
	border-bottom:2px #ff3090 solid;
}
textarea{color:black;}

.clickable
{cursor:pointer;
background-color: #F8F8F8;}
.clickable:hover
{background-color:#F0F0F0;}
