@media print {
  body * {
    visibility: hidden;
  }
  #section-to-print, #section-to-print * {
    visibility: visible;
  }
  #section-to-print {
    position: absolute;
    left: 0;
    top: 100px;
    width:100%;
  }
  .className, .className *{visibility: visible;position:absolute;top:0px;text-align:center;}
  td{border:none;}
  tr{line-height:40px;}
  .badge_icon{width:150px;height:150px;}
}
