<form action="/recoverUsername" method="POST">
    {{ csrfField() }}
    @include('partials/inputs/emailInput')
    
    <div class="field">
      <button class="button is-primary">
        Récupérer mes identifiants
      </button>
    </div>
  </form>