<form action="/recoverPassword" method="POST">
    {{ csrfField() }}
    
   @include('partials/inputs/usernameInput')
    <div class="field">
      <button class="button is-primary">
        Récuppérer le mot de passe
      </button>
    </div>
  </form>