<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Exolingo Login</title>
    <link rel="stylesheet" href="/css/bulma.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/authStyle.css">
    <script src="/js/jquery-3.3.1.min.js"></script>
</head>
<body>
<style>
  @media (min-width: 960px)
{
.auth-sidebar-content {
  display: -ms-flexbox;
  display: flex;
  flex:2;
  text-align:center;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: justify;
  justify-content: space-between;
  min-height: 100vh;
  background-image:url('img/curtain.png');
  background-size:contain;
  background-position:top left;
  background-repeat:no-repeat;}
}

@media (max-width: 960px)
{
.auth-sidebar-content {
    display: none};
}
</style>  
  @include('partials/navbar')
  

<div class="level">
    <div class="auth-sidebar-content level-left" >
      <div style="margin:50px 0px 0 0px;display:flex;flex-direction:column;">
        
        {{--  <img style="margin:auto;margin-top:100px;" src="/img/curtain.png" width="80%">  --}}
      </div>
    </div>

    <div class="auth-form-content level-item">
            
              @!section('content')
         
    </div>  
</div>

</div>
            

  		








<a href='https://fr.freepik.com/vecteurs/vecteur'>Vecteur vecteur créé par pch.vector - fr.freepik.com</a>
</body>
</html>