<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Theatr'O</title>
    <script src="https://kit.fontawesome.com/713e64bb36.js" crossorigin="anonymous"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/selectize.js"></script>
  <link rel="stylesheet" href="/css/bulma.css">
  <link rel="stylesheet" href="/css/main.css">
  @!section('css')
  @!section('js')
</head>
<body>
    @include('partials/navbar')
    @!section('content')
</body>
</html>